---
import {css} from '../../styled-system/css'
import {center, box, grid, flex} from '../../styled-system/patterns'
---

<center class={css({mb: '6%'})}>
            <p class={css({fontWeight:'bold',
                        color: 'black',
                        mt: '1.2%',
                        })}>
                Dar_rius
            </p>
            <p class={css({color: 'black', 
                mt:'1.2%',
                mb:'1.5%', 
                sms:{
                    fontSize:'15', 
                },
                ssms:{fontSize:'14', mb:'4%'}
                })}>
            I'm a software engineer and I'd like to <br/> share my latest discoveries with you.
            </p>
            <div class={
                grid({columns: {base:'3'}, 
                justify:'center'})}>

                <a href="/domain/1" 
                class={css({color:'black',
                    ssmsOnly: {fontSize: '14.5'},
                    transition: 'all',
                    transitionTimingFunction: 'ease-out',
                    transitionDelay: '.2s'   
                })}>
                    Droit du travail
                </a>

                <a href="/domain/2"  
                class={css({color:'black',
                    transition: 'all',
                    ssmsOnly: {fontSize: '14.5'},
                    transitionTimingFunction: 'ease-out',
                    transitionDelay: '.2s'
                })}>
                    Droit etranger
                </a>
                
                <a href="/domain/3"  
                class={css({color:'black',
                    transition: 'all',
                    ssmsOnly: {fontSize: '14.5'},
                    transitionTimingFunction: 'ease-out',
                    transitionDelay: '.2s'})}>
                    Droit penal
                </a>

                <a href="/domain/4" 
                class={css({color:'black',
                    transition: 'all',
                    ssmsOnly: {fontSize: '14.5'},
                    transitionTimingFunction: 'ease-out',
                    transitionDelay: '.2s'})}>
                    Droit du numerique
                </a>

                <a href="/domain/5"  
                class={css({color:'black',
                    transition: 'all',
                    ssmsOnly: {fontSize: '14.5'},
                    transitionTimingFunction: 'ease-out',
                    transitionDelay: '.2s'
                })}>
                    Propriete intellectuelle
                </a>

                <a href="/domain/6"  
                class={css({color:'black',
                    transition: 'all',
                    ssmsOnly: {fontSize: '14.5'},
                    transitionTimingFunction: 'ease-out',
                    transitionDelay: '.2s'})}>
                    Droit fiscal
                </a>

                <a href="/domain/7"  
                class={css({color:'black',
                    transition: 'all',
                    ssmsOnly: {fontSize: '14.5'},
                    transitionTimingFunction: 'ease-out',
                    transitionDelay: '.2s'})}>
                    Droit des societes
                </a>

                <a href="/domain/8"  
                class={css({color:'black',
                    transition: 'all',
                    ssmsOnly: {fontSize: '14.5'},
                    transitionTimingFunction: 'ease-out',
                    transitionDelay: '.2s'})}>
                    Droit civil
                </a>
                
                <a href="/domain/9"  
                class={css({color:'black',
                    transition: 'all',
                    ssmsOnly: {fontSize: '14.5'},
                    transitionTimingFunction: 'ease-out',
                    transitionDelay: '.2s'})}>
                    Veille juridique
                </a>
            </div>
        </center>
