---
import Layout from '../layouts/Layout.astro';
import ListBlog from '../components/ListBlog.astro'
import OptionDomain from '../components/OptionDomain.astro'
---

<Layout>
	<main>
        <OptionDomain />
        <ListBlog/>
	</main>
</Layout>
