---
import Layout from '../layouts/Layout.astro';
import {css} from '../../styled-system/css'
import {center, box, flex} from '../../styled-system/patterns'
import ListBlog from '../components/ListBlog.astro'
---

<Layout>
	<main>
        <center class={css({mb: '6%'})}>
            <p class={css({fontWeight:'bold',
                        color: 'black',
                        mt: '1.2%',
                        })}>
                Dar_rius
            </p>
            <p class={css({color: 'black', 
                mt:'1.2%',
                mb:'1.5%', 
                sms:{
                    fontSize:'15', 
                },
                ssms:{fontSize:'14', mb:'4%'}
                })}>
            I'm a software engineer and I'd like to <br/> share my latest discoveries with you.
            </p>
            <div class={
                flex({direction: 'row', 
                justify:'center'})}>
                <a href="https://github.com/Dar-rius" target="_blank" 
                class={css({color:'black',
                    mr: '5%', 
                    ssmsOnly: {fontSize: '14.5'},
                    transition: 'all',
                    transitionTimingFunction: 'ease-out',
                    transitionDelay: '.2s'   
                })}>
                    Github
                </a>
                <a href="https://www.linkedin.com/in/mohamed-tine-515950214/" target="_blank" 
                class={css({color:'black',
                    transition: 'all',
                    ssmsOnly: {fontSize: '14.5'},
                    transitionTimingFunction: 'ease-out',
                    transitionDelay: '.2s'
                })}>
                    Linkedin
                </a>
                <a href="https://twitter.com/Dar_rius_" target="_blank" 
                class={css({color:'black',
                    ml: '5%',
                    transition: 'all',
                    ssmsOnly: {fontSize: '14.5'},
                    transitionTimingFunction: 'ease-out',
                    transitionDelay: '.2s'})}>
                    Twitter
                </a>
            </div>
        </center>
        <ListBlog/>
	</main>
</Layout>
